<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Campfire Archive</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<% rooms.forEach(function(room){ -%>
<h1><a href="<%= room.id %>/index.html"><%= room.name %></a></h1>
<% }); %>
</body>
</html>
