<div class="message-group">
  <span class="user"><img src="<%= user(user_id).avatar_url %>" /></span>
  <div class="msgs">
    <div class="name"><%= user(user_id).name %></div>
<% msgs.forEach(function(msg){ %>
<%- renderMsg(msg) %>
<% }) %>

  </div>
</div>
